<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough">
    
    <body>
        <ui:composition template="./././plantilla/plantilla.xhtml">
            
            <ui:define name="content">
                <h2>Realizar Venta</h2>
                <h:form id="formFactura">
                    <p:panel header =" " style="width: 900px; margin: 0 auto; text-align: center"
                        <p:layout id="capaDatosClienteFactura" style="width: 100%; height: 150px;">
                            <p:layoutUnit id="datosCliente" position="center" style="padding: 5px; text-align: justify; font-size: 14px; size: 300 ">
                                <h:panelGrid id="gridBuscarClienteDatos" columns="5">
                                    <p:outputLabel value="Codigo Cliente" style="font-weight: bold;"/>
                                    <p:inputText size="12"/>
                                    <p:commandButton value="..."/>
                                    
                                    <p:outputLabel value="Fecha : " style="font-weight: bold"/>
                                    <p:outputLabel value="Fecha  ..... : " <p:outputLabel value="Fecha : "/>
                                </h:panelGrid>
                                <p:separator/>
                                <h:panelGrid id="gridDatosCliente" columns="2">
                                    <p:outputLabel value="Nombre"/>
                                    <p:outputLabel id="lblNombreCliente" value=" "/>
                                    
                                    <p:outputLabel value="Direccion"/>
                                    <p:outputLabel id="lblDireccionCliente" value=""/>
                                </h:panelGrid>
                            </p:layoutUnit>
                            
                            <p:layoutUnit id="datosFactura" position="center" style="padding: 5px; text-align: center; font-size: 14px; size: 200 ">
                                <h:panelGrid columns="1" style="font-size: 24px; font-weight: bold; margin-top: 30px; margin: 0 auto">
                                    FACTURA
                                    <p:outputLabel value="0001"/>
                                </h:panelGrid>
                            </p:layoutUnit>
                        </p:layout>
                            <p:separator/>
                            <h:panelGrid columns="3">
                                 <h:outputLabel value="Codigo Barra" />
                                 <p:inputText value="" size="12"/>
                                 <p:commandButton value="  "/>
                            </h:panelGrid>
                            <p:separator/>
                            <p:dataTable id="tablaProductosFactura">
                                <p:column headerText ="Codigo Barra">

                                </p:column>
                                <p:column headerText ="Producto">

                                </p:column>
                                <p:column headerText ="Cantidad">

                                </p:column>
                                <p:column headerText ="Precio Venta">

                                </p:column>
                                <p:column headerText ="Cod Barra">

                                </p:column>

                            </p:dataTable>
                        <p:outputLabel value="Total VENTA"/>
                        $ <p:outputLabel value="total a vender"/>
                        <p:separator/>
                        <p:commandButton value="Registrar" style="width: 150px; height: 30px"/>
                        <p:commandButton value="Imprimir" style="width: 150px; height: 30px"/>
                        <p:commandButton value="Cancelar" style="width: 150px; height: 30px"/>
                </h:form>
            </ui:define>
            
        </ui:composition>
    </body>
</html>
