<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    
    <body>
        <ui:composition template="./././plantilla/plantilla.xhtml">
            
            <ui:define name="content">
                <h2>Datos de Clientes</h2>
                
                <h:form>
                    <p:commandButton value="Nuevo Cliente" actionListener ="#{clienteBean.prepararNuevoCliente()}" oncomplete="PF('dialogNuevoCliente').show();" update=":formNuevoCliente"/>                    
                </h:form>
                    
                <h:form id="formMostraClientes">
                    <p:dataTable id="tablaClientes" paginator="true" paginatorPosition="top" var="ct" value="#{clienteBean.listaClientes}" emptyMessage="No hay datos de Clientes">
                        <p:column headerText="Codigo">
                            <h:outputText value="#{ct.codCliente}"/>
                        </p:column>
                        
                        <p:column headerText="Nombre del Cliente">
                            <h:outputText value="#{ct.nombres} #{ct.apellidos}"/>
                        </p:column>
                        
                        <p:column headerText="Direccion">
                            <h:outputText value="#{ct.direccion}"/>
                        </p:column>
                        
                        <p:column headerText="Modificar">
                            <p:commandButton value="modificar" oncomplete="PF('dialogModificarCliente').show();" update="formModificarCliente">
                                <f:setPropertyActionListener target="#{clienteBean.cliente}" value="#{ct}"/>
                            </p:commandButton>
           
                        </p:column>
                        
                        <p:column headerText="Eliminar">
                            <h:outputText value="eliminar" oncomplete="PF('dialogEliminarCliente').show();" update="formEliminarCliente">
                            <f:setPropertyActionListener target="#{clienteBean.cliente}" value="#{ct}"/>
                            </h:outputText>
                        </p:column>
                        
                    </p:dataTable>
                </h:form>
                
                <h:form id="formNuevoCliente"
                        <p:dialog id="dlgNuevoCliente" widgetVar="dialogNuevoCliente" resizable="false" showEffect="explode" hideEffect="explode" modal="true">
                            <p:panelgrid columns="2" style="margin: 0 auto;">
                                <p:outputLabel value="Nombres"/>
                                <p:imputText value="#{clienteBean.Cliente.nombres}"/>
                                
                                <p:outputLabel value="Apellidos"/>
                                <p:imputText value="#{clienteBean.Cliente.apellidos}"/>
                                
                                <p:outputLabel value="Direccion"/>
                                <p:imputText value="#{clienteBean.Cliente.direccion}"/>
                            </p:panelgrid>
                            <p:commandButton value="Guardar" actionListener="#{clienteBean.nuevoCliente}"  update ="formMostrarClientes:tablaClientes" oncomplete="PF('dialogNuevoCliente').hide()"/>
                            <p:commandButton value="Cancelar" onclick="PF('dialogNuevoCliente').hide();"/>
                    </p:dialog>
                </h:form>
                
                <h:form id="formModificarCliente"
                        <p:dialog id="dlgModificarCliente" widgetVar="dialogModificarCliente" resizable="false" showEffect="explode" hideEffect="explode" modal="true">
                            <p:panelgrid columns="2" style="margin: 0 auto;">
                                <p:outputLabel value="Nombres"/>
                                <p:imputText value="#{clienteBean.Cliente.nombres}"/>
                                
                                <p:outputLabel value="Apellidos"/>
                                <p:imputText value="#{clienteBean.Cliente.apellidos}"/>
                                
                                <p:outputLabel value="Direccion"/>
                                <p:imputText value="#{clienteBean.Cliente.direccion}"/>
                            </p:panelgrid>
                            <p:commandButton value="Guardar" actionListener="#{clienteBean.modificarCliente}"  update ="formMostrarClientes:tablaClientes" oncomplete="PF('dialogModificarCliente').hide()"/>
                            <p:commandButton value="Cancelar" onclick="PF('dialogModificarCliente').hide();"/>
                    </p:dialog>
                </h:form>
                
                <h:form id="formEliminarCliente"
                        <p:dialog id="dlgEliminarCliente" widgetVar="dialogEliminarCliente" resizable="false" showEffect="explode" hideEffect="explode" modal="true">
                            <h:outputText value="Desea Eliminar cliente?"/>
                            <p:commandButton value="Si" actionListener="#{clienteBean.elimarCliente}"  update ="formMostrarClientes:tablaClientes" oncomplete="PF('dialogEliminarCliente').hide()"/>
                            <p:commandButton value="No" onclick="PF('dialogEliminarCliente').hide();"/>
                    </p:dialog>
                </h:form>
                
            </ui:define>
            
        </ui:composition>
    </body>
</html>
