<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    
    <body>
        <ui:composition template="./././plantilla/plantilla.xhtml">
            
            <ui:define name="content">
                <h2>Datos de Producto</h2>
                
                <h:form>
                    <p:commandButton value="Nuevo Producto" actionListener ="#{productoBean.prepararNuevoProducto()}" oncomplete="PF('dialogNuevoProducto').show();" update=":formNuevoProducto"/>                    
                </h:form>
                    
                <h:form id="formMostraProducto">
                    <p:dataTable id="tablaProducto" paginator="true" paginatorPosition="top" var="ven" value="#{productoBean.listaProducto}" emptyMessage="No hay datos de Producto">
                        <p:column headerText="Codigo">
                            <h:outputText value="#{pro.codProducto}"/>
                        </p:column>
                        
                        <p:column headerText="Nombre del Producto">
                            <h:outputText value="#{pro.nombres} #{pro.apellidos}"/>
                        </p:column>
                        
                        <p:column headerText="Precio de Venta">
                            <h:outputText value="#{pro.precioVenta}"/>
                        </p:column>
                        
                        <p:column headerText="Stock Minimo">
                            <h:outputText value="#{pro.stockMinimo}"/>
                        </p:column>
                        
                        <p:column headerText="Stock Actual">
                            <h:outputText value="#{pro.stockActual}"/>
                        </p:column>
                        
                        
                        <p:column headerText="Codigo de Barras">
                            <h:outputText value="#{pro.codBarra}"/>
                        </p:column>
                        
                        <p:column headerText="Modificar">
                            <p:commandButton value="modificar" oncomplete="PF('dialogModificarProducto').show();" update="formModificarProducto">
                                <f:setPropertyActionListener target="#{ProductoBean.producto}" value="#{pro}"/>
                            </p:commandButton>
           
                        </p:column>
                        
                        <p:column headerText="Eliminar">
                            <h:outputText value="eliminar" oncomplete="PF('dialogEliminarProducto').show();" update="formEliminarProducto">
                            <f:setPropertyActionListener target="#{productoBean.producto}" value="#{pro}"/>
                            </h:outputText>
                        </p:column>
                        
                    </p:dataTable>
                </h:form>
                
                <h:form id="formNuevoProducto"
                        <p:dialog id="dlgNuevoProducto" widgetVar="dialogNuevoProducto" resizable="false" showEffect="explode" hideEffect="explode" modal="true">
                            <p:panelgrid columns="2" style="margin: 0 auto;">
                                <p:outputLabel value="Nombre del Producto"/>
                                    <h:inputText value="#{productoBean.producto.nombreProducto}"/>

                                <p:outputLabel value="Precio de Venta"/>
                                    <h:inputText value="#{productoBean.producto.precioVenta}"/>

                                <p:outputLabel value="Stock Minimo"/>
                                    <h:inputText value="#{productoBean.producto.stockMinimo}"/>

                                <p:outputLabel value="Stock Actual"/>
                                    <h:inputText value="#{productoBean.producto.stockActual}"/>

                                <p:outputLabel value="Codigo de Barras"/>
                                    <h:inputText value="#{productoBean.producto.codBarra}"/>
                            </p:panelgrid>
                            <p:commandButton value="Guardar" actionListener="#{productoBean.nuevoProducto}"  update ="formMostrarProductos:tablaProductos" oncomplete="PF('dialogNuevoProducto').hide()"/>
                            <p:commandButton value="Cancelar" onclick="PF('dialogNuevoProducto').hide();"/>
                    </p:dialog>
                </h:form>
                
                <h:form id="formModificarProducto"
                        <p:dialog id="dlgModificarProducto" widgetVar="dialogModificarProducto" resizable="false" showEffect="explode" hideEffect="explode" modal="true">
                            <p:panelgrid columns="2" style="margin: 0 auto;">
                                <p:outputLabel value="Nombre del Producto"/>
                                    <h:inputText value="#{productoBean.producto.nombreProducto}"/>

                                <p:outputLabel value="Precio de Venta"/>
                                    <h:inputText value="#{productoBean.producto.precioVenta}"/>

                                <p:outputLabel value="Stock Minimo"/>
                                    <h:inputText value="#{productoBean.producto.stockMinimo}"/>

                                <p:outputLabel value="Stock Actual"/>
                                    <h:inputText value="#{productoBean.producto.stockActual}"/>

                                <p:outputLabel value="Codigo de Barras"/>
                                    <h:inputText value="#{productoBean.producto.codBarra}"/>
                            </p:panelgrid>
                            <p:commandButton value="Guardar" actionListener="#{ProductoBean.modificarProducto}"  update ="formMostrarProductos:tablaProductos" oncomplete="PF('dialogModificarProducto').hide()"/>
                            <p:commandButton value="Cancelar" onclick="PF('dialogModificarProducto').hide();"/>
                    </p:dialog>
                </h:form>
                
                <h:form id="formEliminarProducto"
                        <p:dialog id="dlgEliminarProducto" widgetVar="dialogEliminarProducto" resizable="false" showEffect="explode" hideEffect="explode" modal="true">
                            <h:outputText value="Desea Eliminar este registro?"/>
                            <p:commandButton value="Si" actionListener="#{roductoBean.eliminarProducto}"  update ="formMostrarProductos:tablaProductos" oncomplete="PF('dialogEliminarProducto').hide()"/>
                            <p:commandButton value="No" onclick="PF('dialogEliminarProducto').hide();"/>
                    </p:dialog>
                </h:form>
                
            </ui:define>
            
        </ui:composition>
    </body>
</html>