<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <h:outputStylesheet name="./css/default.css"/>
        <h:outputStylesheet name="./css/cssLayout.css"/>
        <title>Facelets Template</title>
    </h:head>

    <h:body>
        <div id="top">
            <ui:insert name="top"></ui:insert>
            <h:form>
                <p:menubar>
                    <p:submenu label="Inicio" icon="ui-icon-document">
                        <p:menuitem value="Pagina Inicio" url="#"/>
                            <p:separator />
                        </p:menuitem>
                    </p:submenu>
                    
                    <p:submenu label="Cliente" icon="ui-icon-pencil">
                        <p:menuitem value="Ver y Escribir" outcome="/Views/Cliente/Cliente"/>
                    </p:submenu>
                    
                    <p:submenu label="Vendedor" icon="ui-icon-help">
                        <p:menuitem value="Ver y Editar" outcome="/Views/Vendedor/Vendedor"/>                        
                    </p:submenu>
                    
                    <p:submenu label="Producto" icon="ui-icon-help">
                        <p:menuitem value="Ver y Editar" outcome="/Views/Producto/Producto"/>
                    </p:submenu>
                    
                    <p:submenu label="Venta" icon="ui-icon-help">
                        <p:menuitem value="Facturar" outcome="/Views/Venta/Factura"/>
                    </p:submenu>
                </p:menubar>
                
            </h:form>
        </div>

        <div id="content" class="center_content">
            <ui:insert name="content">Content</ui:insert>
        </div>

        <div id="bottom">
            <ui:insert name="bottom">&copy; 2020 JavaCode503</ui:insert>
        </div>


    </h:body>


