<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    
    <body>
       <ui:composition template="./././plantilla/plantilla.xhtml">
            
            <ui:define name="content">
                <h2>Datos de Vendedor</h2>
                
                <h:form>
                    <p:commandButton value="Nuevo Vendedor" actionListener ="#{vendedorBean.prepararNuevoVendedor()}" oncomplete="PF('dialogNuevoVendedor').show();" update=":formNuevoVendedor"/>                    
                </h:form>
                    
                <h:form id="formMostraVendedor">
                    <p:dataTable id="tablaVendedor" paginator="true" paginatorPosition="top" var="ven" value="#{vendedorBean.listaVendedor}" emptyMessage="No hay datos de Vendedors">
                        <p:column headerText="Codigo">
                            <h:outputText value="#{ven.codVendedor}"/>
                        </p:column>
                        
                        <p:column headerText="Nombre del Vendedor">
                            <h:outputText value="#{ven.nombres} #{ven.apellidos}"/>
                        </p:column>
                        
                        <p:column headerText="DUI">
                            <h:outputText value="#{ven.dui}"/>
                        </p:column>
                        
                        <p:column headerText="Celular">
                            <h:outputText value="#{ven.celular}"/>
                        </p:column>
                        
                        <p:column headerText="Direccion">
                            <h:outputText value="#{ven.direccion}"/>
                        </p:column>
                        
                        <p:column headerText="Modificar">
                            <p:commandButton value="modificar" oncomplete="PF('dialogModificarVendedor').show();" update="formModificarVendedor">
                                <f:setPropertyActionListener target="#{vendedorBean.vendedor}" value="#{ven}"/>
                            </p:commandButton>
           
                        </p:column>
                        
                        <p:column headerText="Eliminar">
                            <h:outputText value="eliminar" oncomplete="PF('dialogEliminarVendedor').show();" update="formEliminarVendedor">
                            <f:setPropertyActionListener target="#{vendedorBean.vendedor}" value="#{ven}"/>
                            </h:outputText>
                        </p:column>
                        
                    </p:dataTable>
                </h:form>
                
                <h:form id="formNuevoVendedor"
                        <p:dialog id="dlgNuevoVendedor" widgetVar="dialogNuevoVendedor" resizable="false" showEffect="explode" hideEffect="explode" modal="true">
                            <p:panelgrid columns="2" style="margin: 0 auto;">
                                <p:outputLabel value="Nombres"/>
                                <p:imputText value="#{vendedorBean.Vendedor.nombres}"/>
                                
                                <p:outputLabel value="Apellidos"/>
                                <p:imputText value="#{vendedorBean.Vendedor.apellidos}"/>
                                
                                <p:outputLabel value="Direccion"/>
                                <p:imputText value="#{vendedorBean.Vendedor.direccion}"/>
                            </p:panelgrid>
                            <p:commandButton value="Guardar" actionListener="#{vendedorBean.nuevoVendedor}"  update ="formMostrarVendedors:tablaVendedors" oncomplete="PF('dialogNuevoVendedor').hide()"/>
                            <p:commandButton value="Cancelar" onclick="PF('dialogNuevoVendedor').hide();"/>
                    </p:dialog>
                </h:form>
                
                <h:form id="formModificarVendedor"
                        <p:dialog id="dlgModificarVendedor" widgetVar="dialogModificarVendedor" resizable="false" showEffect="explode" hideEffect="explode" modal="true">
                            <p:panelgrid columns="2" style="margin: 0 auto;">
                                <p:outputLabel value="Nombres"/>
                                <p:imputText value="#{vendedorBean.Vendedor.nombres}"/>
                                
                                <p:outputLabel value="Apellidos"/>
                                <p:imputText value="#{vendedorBean.Vendedor.apellidos}"/>
                                
                                <p:outputLabel value="Direccion"/>
                                <p:imputText value="#{vendedorBean.Vendedor.direccion}"/>
                            </p:panelgrid>
                            <p:commandButton value="Guardar" actionListener="#{vendedorBean.modificarVendedor}"  update ="formMostrarVendedors:tablaVendedors" oncomplete="PF('dialogModificarVendedor').hide()"/>
                            <p:commandButton value="Cancelar" onclick="PF('dialogModificarVendedor').hide();"/>
                    </p:dialog>
                </h:form>
                
                <h:form id="formEliminarVendedor"
                        <p:dialog id="dlgEliminarVendedor" widgetVar="dialogEliminarVendedor" resizable="false" showEffect="explode" hideEffect="explode" modal="true">
                            <h:outputText value="Desea Eliminar vendedor?"/>
                            <p:commandButton value="Si" actionListener="#{vendedorBean.elimarVendedor}"  update ="formMostrarVendedors:tablaVendedors" oncomplete="PF('dialogEliminarVendedor').hide()"/>
                            <p:commandButton value="No" onclick="PF('dialogEliminarVendedor').hide();"/>
                    </p:dialog>
                </h:form>
                
            </ui:define>
            
        </ui:composition>
    </body>
</html>
